<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>

    <div id="app">

        <nav class="navbar navbar-light bg-faded">
            <form class="form-inline">
                <select class="form-control navbar-nav mr-auto" v-model="version" @change="refresh">
                    <option disabled value="0">Please select</option>
                    <option v-for="version in versions" :value="version.id">{{ version.name }}</option>
                </select>
                <i class="fa fa-refresh fa-2x fa-fw" :class="{ 'fa-spin': isLoading }" @click="refresh"></i>
                <span class="sr-only">Loading...</span>
            </form>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col">
                    <cards title="Product Backlogs" group="product" :cards="productBacklogs" :total="totalProductBacklogs"></cards>
                </div>
                <div class="col">
                    <cards title="ToDo" group="sprint" :cards="todo" :total="totalTodo"></cards>
                </div>
                <div class="col">
                    <cards title="Doing" group="sprint" :cards="doing" :total="totalDoing"></cards>
                </div>
                <div class="col">
                    <cards title="Done" group="sprint" :cards="done" :total="totalDone"></cards>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.14.1/vuedraggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>

    <!-- Card -->
    <script type="text/x-template" id="card-template">
        <a target="_blank" :href="configs.BASE_URL + configs.PAGE.VIEW + card.issueKey" class="list-group-item" :title="card.description">
            <div class="d-flex w-100 justify-content-between"><small>{{ card.issueKey }}</small></div>
            <div class="d-flex w-100 justify-content-between">{{ card.summary }}</div>
            <div class="d-flex w-100 justify-content-between">
                <img style="height: 1em; width: 1em;" :src="card.assignee ? configs.BASE_URL + configs.API.ICON.replace(':userId', card.assignee.id) + '?apiKey=' + configs.API_KEY : ''" :alt="card.assignee ? card.assignee.name : ''" :title="card.assignee ? card.assignee.name : ''">
                <span class="badge badge-default badge-pill">{{ card.estimatedHours }}</span>
            </div>
        </a>
    </script>

    <!-- Cards -->
    <script type="text/x-template" id="cards-template">
        <div class="list-group">
            <div class="list-group-item justify-content-between active">
                {{ title }}
                <span class="badge badge-default badge-pill">{{ total }}</span>
            </div>
            <draggable v-model="cards" :options="{group: group}">
                <transition-group style="min-height: 300px; display: block;">
                    <card v-for="card in cards" :key="card.id" :card="card"></card>
                </transition-group>
            </draggable>
        </div>
    </script>

    <script src="/app.js"></script>
</body>

</html>
