<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scrum Board for Backlog</title>
    <meta charset="utf-8">
    <meta name="description" content="Scrum Board for Backlog.">
    <meta name="author" content="t.ganaha">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css" />
</head>

<body>

    <div id="app">

        <nav class="navbar navbar-light bg-faded mb-3">
            <form class="form-inline">
                <select class="form-control navbar-nav mr-auto" v-model="version" @change="refresh">
                    <option disabled value="0">Please select</option>
                    <option v-for="version in versions" :value="version">{{ version.name }}</option>
                </select>
                <i class="fa fa-refresh fa-2x fa-fw" :class="{ 'fa-spin': isLoading }" @click="refresh"></i>
                <span class="sr-only">Loading...</span>
            </form>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col">
                    <cards :cards="productBacklogs" group="product" :configs="CONFIGS" :total="totalEstimatedHours(productBacklogs)" title="Product Backlogs" status="0" color="list-group-item-success"></cards>
                </div>
                <div class="col">
                    <cards :cards="todo" group="sprint" :configs="CONFIGS" :total="totalEstimatedHours(todo)" title="ToDo" status="1" color="list-group-item-danger"></cards>
                </div>
                <div class="col">
                    <cards :cards="doing" group="sprint" :configs="CONFIGS" :total="totalEstimatedHours(doing)" title="Doing" status="2" color="list-group-item-warning"></cards>
                </div>
                <div class="col">
                    <cards :cards="done" group="sprint" :configs="CONFIGS" :total="totalEstimatedHours(done)" title="Done" status="3" color="list-group-item-info"></cards>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/vue.min.js"></script>
    <script src="js/Sortable.min.js"></script>
    <script src="js/vuedraggable.min.js"></script>
    <script src="js/axios.min.js"></script>

    <!-- Cards -->
    <script type="text/x-template" id="cards">
        <div class="list-group">
            <div class="list-group-item justify-content-between" :class="color">
                {{ title }}
                <span class="badge badge-default badge-pill">{{ total }}</span>
            </div>
            <draggable :list="cards" :options="{group: group}" @add="onAdd">
                <transition-group style="min-height: 300px; display: block;">
                    <card v-for="card in cards" :key="card.id" :card="card" :configs="configs"></card>
                </transition-group>
            </draggable>
        </div>
    </script>

    <!-- Card -->
    <script type="text/x-template" id="card">
        <a target="_blank" :href="configs.BASE_URL + configs.PAGE.VIEW + card.issueKey" class="list-group-item" :title="card.description">
            <div class="d-flex w-100 justify-content-between"><small class="issueKey">{{ card.issueKey }}</small></div>
            <div class="d-flex w-100 justify-content-between">{{ card.summary }}</div>
            <div class="d-flex w-100 justify-content-between">
                <img style="height: 1em; width: 1em;" :src="card.assignee ? configs.BASE_URL + configs.API.ICON.replace(':userId', card.assignee.id) + '?apiKey=' + configs.API_KEY : ''" :alt="card.assignee ? card.assignee.name : ''" :title="card.assignee ? card.assignee.name : ''">
                <span class="badge badge-default badge-pill">{{ card.estimatedHours }}</span>
            </div>
        </a>
    </script>

    <script src="js/main.js"></script>
</body>

</html>
